:root{
    --clr-green1:#054a05;
    --clr-green2:#438243;
    --clr-green3:hwb(120 47% 36%);
    --clr-green4:hsl(120, 17%, 61%);
    --clr-white:hsl(120, 27%, 96%);
    --clr-black:#060606;
    --clr-red1:hsl(4, 98%, 52%);
    --clr-red2:#ef8f66;

    --ff-primary:"Lato",sans-serif;
    --ff-secondary:"Open Sans",sans-serif;
    --spacing:0.25rem;
    --radius:0.5rem;
}
*,::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body::before{
    content: "XS";
    color: var(--clr-red1);
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
}
body{
    font-family: var(--ff-primary);
    background-color: var(--clr-white);
    color: var(--clr-green1);
    line-height: 1.5;
    display: grid;
    grid-template: 
    "header"minmax(50vh, auto)
    "main" auto
    "footer" minmax(40vh, auto)/1fr;
}
h1, h2,h3,h4{
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    letter-spacing: var(--spacing);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
header{
    grid-area: header;
    background-image: url(img/animal4.webp);

}

header,footer{
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-green1);
    text-align: center;
}
main{
    grid-area: main;
}
.title{
    text-align: center;
    margin: 2rem 0 2rem 0;
}
 .line{
    width: 5rem;
    height: 0.25rem;
    background-color: var(--clr-green1);
    margin: 0 auto;
    border-radius: var(--radius);
 }
 .btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 .filter-btn{
    border: none;
    background: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0.5rem;
    letter-spacing: 2px;
    border: 1px solid var(--clr-green4);
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius);
    color: var(--clr-green2);
    cursor: pointer;
 }
 .filter-btn:hover{
    background-color: var(--clr-green2);
    color: var(--clr-white);
 }

 .section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 1rem;
    justify-items: center;
    padding-top: 1.5rem;

 }
 .poster-item{
    display: grid;
    max-width: 20rem;
   
 }
 .photo{
    width: 100%;
    object-fit: cover;
    height: 400px;
    border: 0.25rem solid var(--clr-green4);
    border-radius: var(--radius);
 }
 .item-header{
    border-bottom: 2px double var(--clr-green4);
    padding-top: 1rem;
 }
 .item-text{
    padding-top: 1rem;
 }
 .item-price{
    color: var(--clr-green2);
    padding-top: 0.5rem;
 }
 footer{
    grid-area: footer;
    background-image: url(img/nature1.jpg);
 }
 .section-center{
    padding-bottom: 1rem;
 }
@media(min-width: 570px){
body::before {
        content: "SM";
    
 }
}
@media(min-width: 764px){
    body::before {
        content: "MD";
    
 }
  .poster-item {
      grid-template-columns: 250px 1fr;
      gap: 0 1rem;
      max-width: 40rem;
  }
  .photo{
    height: 325px;
   
  }
  .item-info{
    margin-top: 2rem;
  }
}
@media(min-width:992px){
    body::before{
        content: "LG";
    }
    
}
@media(min-width:1200px){
    body::before{
        content: "XL";
    }
        .section-center {
            width: 95vw;
            margin: 0 auto;
            grid-template-columns: 1fr 1fr;
           
            
    
        }
}
@media(min-width:1400px) {
    body::before {
        content: "XXL";
    }
}